

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.posRel{
    position: relative;
}
.container{
    max-width: 1440px;
}
.navContainer{
    display: flex;
    align-items: center;
    height: 54px;
}
.logoNavDiv{
    margin-top: 1px;
    background-color: #fff;
    width: 200px;
    display: flex;
    align-items: center;
}
.navUl{
    display: flex;
    list-style: none;
    margin: 0px;
    height: 54px;
    min-width: 685px;
    padding: 0px;

}
.navLi{
    float: left;
    height: 100%;
    border: 1px solid transparent;
    margin-bottom: -1px;
    color: #2c3e50;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    display: flex;

}
.navPerson {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: solid rgb(204, 204, 204) 1px;
    border-radius: 50%;
    color: rgb(204, 204, 204);
    font-size: 18px;
}
.navFlag{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: solid 1px rgb(204, 204, 204);
    padding: 15px;
    transition: .2s;
}
.navFlag:hover{
    color: white;
    background: #1f75b9;
}
.navLi:hover .navFlag{
    color: white;
    background: #1f75b9;
}
.navLi:hover .navPerson{
    color: white;
    background: #1f75b9;
}
.navLi:hover .fa-user{
    color: white;
}
.navPhone{
    margin-left: 12px;
    display: flex;
    align-content: center;
}
.subList{
    display: none;
    position: absolute;
    top: 54px;
    border: 1px solid #ebeef2;
    z-index: 3;
}
.navTabName{
    background-color: white;
    width: 100%;
    height: 54px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    padding: 0px 10px;
    color: #2c3e50 !important;
}
.navLi:hover{
    border-left: 1px solid #ebeef2;
    border-right: 1px solid #ebeef2;
    border-bottom: 1px solid #fff;
}
.navLi:hover .subList{
    display: flex;
}
.navLi:hover .navTabName{
    height: 55px;
}
.subLisL{
    left: 0px;
    width: 100%;
    background-color: white;
    padding: 35px 0px;
    align-items: center;
    z-index: 3;
    justify-content: center;
}
.subLisM{
    top: 53px;
    min-width: 175px;
    background-color: white;
    right: 0px;
    box-shadow: 0px 19px 30px -9px #383838;

}
.navListSub{
    max-width: 1250px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.navSubListRow{
    display: flex;
    flex-direction: column;

    text-align: left;
}
.navSubListRow > div{
    padding: 8px;
    margin: 0px 4px;
    margin-left: 0px;
}
.navSubListHeader{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2b393a !important;
    padding-left: 8px;
}
.navSubListBody{
    position: relative;
    padding: 8px;
    color: #2c3e50;
    min-width: 135px;
    border-right: 5px;
    display: flex;
    align-items: center;
    font-size: 11px;
    /*margin-left: 20px;*/
}
.navSubListBody:hover{
    background-color: #1f75b9;
    color: white;
}
.navSubListFooter{
    font-size: 12px;
    font-weight: bold;
    border-top: solid 1px lightgray;
    margin-top: 15px;
}
.navSubListFooter:hover{
    color: #1f75b9;
}
.navSubListHeader:hover{
    color: #1f75b9;
}
.navSubListBodyM{
    min-width: 175px;
    margin: 0 !important;
    padding: 10px 15px !important;
}

.mobileHide{
    display: flex;
}
.pcHide{
    display: none;
}
.navThreeLine{
    border-radius: 100px;
    width: 25px;
    height: 2px;
    margin-top: 5px;
    background-color: #c7d0d9;
}
.threeLineDiv{
    padding: 15px 0;
    margin: 0 16px 0 6px;
}

.navSearchBar{
    background: #ebeef2;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: 20px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    position: relative;
    direction: ltr;
}
.navSearchBar:hover{
    background-color: #d6d6d6;
}
.navSearchIcon{
    width: 25px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.searchNavInput{
    border: none;
    box-shadow: none;
    width: 85%;
    background: none;
    font-size: 15px;
}
.searchNavIconInFlag{
    font-size: 30px;
    margin-right: 15px;
    color: #1f75b9;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.sidenav {
    height: 100%;
    width: 250px;
    left: -250px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.2s;
}

.sidenav a {
    padding: 0px 20px;
    color: #2c3e50;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sideHeader{
    width: 100%;
    height: 125px;
    background-color: #30759d;
}
.sideBody{
    padding-top: 15px;
}

.sideNavTabs{
    height: 45px;
    display: flex;

}
.subSideNavMenu{
    background-color: white;
    position: absolute;
    width: 100%;
    /*height: calc(100% - 125px);*/
    z-index: 1;
    transition: 0.2s;
    left: 250px;
    top: 175px;
    height: calc(100% - 88px);
    overflow: auto;
}
.subSideNavTab{
    font-weight: 500 !important;
}
.subSubSideNavMenu{
    top: 0px !important;
}

.telPcLi{
    display: flex;
}
.telMobileLi{
    display: none;
}
.phoneIconHeader{
    transform: rotate(90deg);
    color: #1f75b9;
    font-size: 25px;
}

.searchBackBlack{
    display: none;
    top: 0px;
    z-index: 9;
}
.searchNavMobile{
    position: absolute;
    width: 0%;
    height: 54px;
    top: 0px;
    right: 0px;
    background-color: white;
    transition: 0.2s;
    display: flex;
    overflow: hidden;
    z-index: 10;
}
.closeIcon{
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #1f75b9;
}
.mobileNavSearchDiv{
    width: calc(100% - 54px);
    margin-right: auto;
    padding: 5px;
}
.mobileNavSearchInput{
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: solid #1f75b9 2px;
    padding: 0px 15px;
}
.mobileNavSearchInput:focus{
    border: solid #1f75b9 2px;
}
.searchResult{
    position: absolute;
    top: 46px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,.2);
    z-index: 10;
    overflow: hidden;
    display: none;
}
.headerSearch{
    color: #1f75b9;
    border-bottom: solid 1px;
    font-size: 12px;
    margin-top: 15px;
    padding: 5px 5px;
    margin: 10px 15px;
}
.resultsOFSearch{
    font-size: 17px;
    padding: 5px 15px;
    cursor: pointer;
    color: #2c3e50;
    width: 100%;
}
.resultsOFSearch:hover{
    background-color: #1f75b9;
    color: white;
}

.guideNav{
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}
.topMenuGuide{
    color: #929292;
    font-size: 13px;
    transition: 0.2s;
}
.topMenuGuide:hover {
    color: #929292;
    font-size: 15px;
}


.navSubListAllCountries{
    position: absolute;
    width: 100%;
    height: 0;
    background: white;
    bottom: 0px;
    transition: .2s;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.navSubListAllCountriesClose{
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
}
.closeCountryArrow{
    border: solid #909090;
    border-width: 0 5px 5px 0;
    padding: 10px;
}
.navSubListAllCountriesList{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 1500px;
}
.navCountries{
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    color: #2c3e50 !important;
    margin: 5px 10px;
    padding: 5px 5px;
}
.navCountries:hover{
    background-color: #1f75b9;
    color: white !important;
    border-radius: 10px;
}
.headerSearchAndMenuPc{
    display: flex;
    align-items: center;
    width: 100%;
    direction: rtl;
}

.destTitles{
    width: 0%;
    overflow: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    color: white;
    background: #1f75b9;
    left: 90%;
    top: 0px;
    align-items: center;
    justify-content: center;
    transition: .3s;
    border-radius: 10px;
    z-index: 1;
}
.navSubListBody:hover{
    border-radius: 10px;
}
/*.navSubListBody:hover .destTitles{*/
/*    width: 100%;*/
/*}*/
.destTitlesName{
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}
.destTitlesName:hover{
    color: white;
    background: #2b393a;
}
.langDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
}
.selectLang{
    width: 150px;
    font-size: 20px;
    border: solid 1px #1f75b9;
    border-radius: 10px;
    color: #1f75b9;
}

@media (max-width: 1023px){
    .searchResult{
        position: fixed;
        border-radius: 0px;
        top: 54px;
        left: 0px;
        width: 100%;
        height: calc(100% - 54px);
        overflow-y: auto;
    }
    .mobileHide{
        display: none !important;
    }
    .pcHide{
        display: block;
    }
    .searchNavIconInFlag{
        display: flex;
    }
    .logoNavDiv{
        margin-right: auto;
        margin-left: auto;
    }
    .navUl{
        min-width: 0px;
    }

}

@media (max-width: 768px) {
    /*.telPcLi{*/
        /*display: none;*/
    /*}*/

    .telMobileLi{
        display: block;
    }
}

