
.topSlider{
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mainSliderPic{
    width: 100%;
}
.textSlider{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    top: 0px;
    left: 0px;
    background-color: #00000061;
    color: white;
    font-size: 45px;
    padding: 30px 10px;
}
.mainSearchCenter{
    width: 100%;
    position: relative;
    height: 20px;
}
.searchCenter{
    top: -25px;
    width: 50%;
    background: #ebeef2;
    position: absolute;
    z-index: 2;
    margin-left: 25%;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    border-radius: 8px;
    padding: 10px;
}
.searchButton{
    width: 100%;
    background: #f39a2d;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-color: #f39a2d !important;
}
.searchButton:hover{
    color: white;
}
.whereToSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: text;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #c7d0d9;
    margin: 0;
    height: 60px;
}
.centerSearchInput{
    font-size: 15px;
    border: none;
    width: 80%;
    padding-top: 15px;
    padding-left: 10px;
}
.centerSearchLabel{
    position: absolute;
    left: 45px;
    color: gray;
    transition: .3s;
}
.centerSearchLabelFocus{
    font-size: 12px;
    top: 7px;
    color: #1f75b9;
    padding: 8px !important;
}
.seasonSearch{
    font-size: 12px;
    position: absolute;
    background: white;
    width: 100%;
    top: 65px;
    padding: 5px;
    border: 1px solid #c7d0d9;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.seasons{
    width: 45%;
    text-align: center;
    border: 1px solid #c7d0d9;
    margin: 2%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seasons:hover{
    background-color: #1f75b9;
    color: white;
}

.activity{
    width: 100%;
}
.threeSearchDiv{
    justify-content: space-evenly;
    padding-right: 10px;
}

.map{
    width: 100%;
    min-height: 380px;
    height: 50vh;
}
.destinationMainSearch{
    position: absolute;
    width: 100%;
    background: white;
    top: 65px;
    padding: 10px;
    border: 1px solid #c7d0d9;
    z-index: 3;
    display: none;
}
.destinationMainSearchResult{
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}
.destinationMainSearchResult:hover{
    background-color: #1f75b9;
    color: white;
    border-radius: 7px;
}
.mainContentSection{
    width: 100%;
    margin-top: 50px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.mainRecentlyPackageTopDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.recentlyPackageDiv{
    width: 330px !important;
    box-shadow: 0 0 4px 0px grey;
    margin: 14px 10px;
}
.recentlyPackageImg{
    width: 100%;
    overflow: hidden;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recentlyPackageImg > img{
    transition: .5s;
}
.recentlyPackageImg:hover > img {
    transform: scale(1.1);
}
.recentlyPackageText{
    padding: 5px 10px;
    position: relative;
    border-top: solid #1f75b9;
}
.recentlyPackageName{
    font-size: 17px;
    font-weight: bold;
    color: #2c3e50;
}
.recentlyPackageDay{
    font-size: 12px;
}
.recentlyPackageCost{
    position: absolute;
    right: 0;
    background-color: #1f75b9;
    color: white !important;
    padding: 5px;
    width: 80px;
    text-align: center;
    top: -35px;
}
.recentlyPackageTextContent{
    height: 70px;
    overflow: hidden;
}
.recentlyPackageShowButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin-top: 10px;
    border-top: solid lightgray 1px;
    overflow: hidden;
}

.subscribeSection{
    display: flex;
    justify-content: center;
}
.subscribeRow{
    background-color: #2b393a;
    padding: 14px;
    border-radius: 12px;
    width: 100%;
}
.subscribeInput{
    width: 100%;
    border-radius: 10px;
    border: solid 2px gray;
    padding: 5px 5px;
}
.subscribeButton{
    width: 100%;
    border: none;
    background-color: #1f75b9;
    color: white;
    height: 100%;
    border-radius: 11px;
    text-align: center;
    min-height: 35px;
}
.subscribeRow .col-md-3{
    margin-top: 10px;
}

.JournalDiv{
    width: 22%;
    height: 400px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.JournalDiv> img{
    transition: .5s;
}
.JournalDiv:hover > img{
    transform: scale(1.1);
}
.JournalContentDiv{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8547794117647058) 24%, rgba(0,0,0,0.5102415966386555) 79%, rgba(0,0,0,0) 100%);
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
}
.JournalCategory{
    color: white;
    font-size: 14px;
    font-weight: 100;
}
.JournalName{
    color: white;
    font-size: 25px;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recentlyPackageSwiper{
    display: none;
}
.mapSection{
    width: 100%;
    margin-top: 50px;
    position: relative;
}
.mapOptionDiv{
    position: absolute;
    background: #2b393a;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 10px;
    transition: .4s;
}
.openOptionDiv{
    width: 150px;
    border-radius: 0px 0px 50px 50px;
}
.insideOptiponMap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.insideOptiponMap .threeLineDiv{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.mapOptionContentDiv{
    background: #2b393a;
    border-radius: 25px 25px 0px 0px;
    position: absolute;
    width: 100%;
    bottom: 48px;
    height: 0;
    transition: .7s;
    overflow: hidden;
}
.mapOptionContentDivOpen{
    height: 350px;
}
.mapOptionContent{
    color: white;
    text-align: center;
    margin: 5px 10px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .4s;
}
.mapOptionContentActive{
    color: #2c3e50;
    background: white;
}

.navThreeLine1, .navThreeLine2, .navThreeLine3{
    border-radius: 100px;
    width: 25px;
    height: 4px;
    margin-top: 5px;
    background-color: white;
    transition: 0.4s;
}
.navThreeLine1{
    margin-top: 0px;
}
.change .navThreeLine1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .navThreeLine2 {opacity: 0;}

.change .navThreeLine3 {
    -webkit-transform: rotate(45deg) translate(-7px, -4px);
    transform: rotate(45deg) translate(-7px, -4px);
}
.fullLabel {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 15px 10px;;
}
.contactUsTexts, .aboutUsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.contactUsTextsHeader{
    font-size: 35px ;
    font-weight: bold;
}
.contactUsTexts{
    padding: 0px 50px;
    font-size: 18px;
    text-align: justify;
}
.contactUsButtonDiv{
    display: flex;
    margin-top: 25px
}
.aboutUsDiv{
    min-height: 50vh;
}
.aboutUsDiv p{
    color: white;
}
.aboutUsBackground{

    background-size: cover, contain;
    background-repeat: no-repeat;
    background-position: center;
}
.aboutUsText{
    width: 100%;
    color: white;
    min-height: 50vh;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000042;
    font-size: 20px;
    padding: 30px;
}
.contactUsButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f75b9;
    color: white;
    padding: 15px;
    font-size: 19px;
    border-radius: 3px;
    width: 300px;
}
.supportUsSection{

}


@media (max-width:  1300px){
    .searchCenter{
        width: 75%;
        margin-left: 12%;
    }
}

@media (max-width: 1200px) {
    .JournalDiv{
        width: 35%;
    }
}

@media (max-width: 1080px) {
    .recentlyPackageSwiper{
        display: block;
        position: relative;
    }
    .recentlyPackageNonSwiper{
        display: none;
    }
}
@media (max-width:  1023px){
    .topSlider{
        height: 300px;
    }
}

@media (max-width:  991px){
    .threeSearchDiv{
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .searchCenter{
        width: 80%;
        top: 0px;
        position: relative;
        margin: 10px 0px;
    }
    .mainSearchCenter{
        height: auto;
        display: flex;
        justify-content: center;
    }
    .map{
        height: 100vh   ;
    }
}

@media (max-width: 810px) {
    .JournalDiv{
        width: 100%;
        height: 200px;
    }
    .JournalContentDiv{
        height: 50%;
    }
}

@media (max-width:  767px){
    .whereToSearch{
        border-radius: 0px;
        margin-bottom: 10px;
    }
    .threeSearchDiv{
        padding: 15px;
    }
    .seasons{
        margin: 1%;
    }
    .textSlider{
        font-size: 30px;
    }
}


@media (max-width: 500px) {
    .aboutUsText{
        padding: 30px 0px;
    }
    .contactUsTextsHeader{
        text-align: center;
    }
    .contactUsTexts{
        padding: 0px;
    }
    .contactUsButtonDiv{
        justify-content: center;
    }
}
