
/*@font-face {*/
/*    font-face-name: IRANSans;*/
/*    src: url(/../../fonts/IRANSansWeb.ttf),*/
/*}*/
/**{*/
/*    font-family: IRANSans !important;*/
/*}*/

/*.navSearchBar{*/
/*    direction: rtl !important;*/
/*    margin-right: 20px !important;*/
/*    margin-left: auto !important;*/
/*}*/
/*.searchCenter{*/
/*    margin-right: 25%;*/
/*    margin-left: auto;*/
/*}*/
/*.threeSearchDiv{*/
/*    padding-left: 10px;*/
/*    padding-right: 0px;*/
/*}*/
/*.sidenav a{*/
/*    direction: ltr;*/
/*}*/
/*.subLisM{*/
/*    left: 0px;*/
/*    right: auto !important;*/
/*}*/


/*.navUl{*/
/*    width: 100% !important;*/
/*    direction: rtl;*/
/*}*/
/*.rtlRight{*/
/*    margin-right: auto;*/
/*}*/
/*.logoNavDiv{*/
/*    margin-left: auto !important;*/
/*    margin-right: 0 !important;*/
/*}*/
/*.destTitles{*/
/*    right: 90%;*/
/*    left: auto;*/
/*}*/
/*.navSubListRow > div{*/

/*}*/
.infoDiv{
    margin-right:0 !important;
    margin-left:10% !important;
}
.mainContent{
    text-align: right;
    direction: rtl;
}
.recentContentDiv{
    margin-right: 10px;
    margin-left: 0;
}
.mainSliderContentDiv{
    direction: rtl;
    text-align: right;
}
.listElemsDiv{
    direction: rtl;
    text-align: right;
}
.listElemsSideData{
    left: 0px;
    right: auto;
}
.readMorebutton{
    text-align: left;
}
.langDiv{
    direction: rtl;
}
#sideContentDiv{
    direction: rtl;
    text-align: right;
}

@media (max-width: 1300px) {

}


@media (max-width: 1023px) {
}
