
/*@font-face {*/
/*    font-face-name: IRANSans;*/
/*    src: url(/../../fonts/IRANSansWeb(FaNum).ttf),*/
/*}*/

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('/../../fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('/../../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('/../../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('/../../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/../../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
*{
    font-family: IRANSans;
    direction: rtl;
    text-align: right;
}

.navSearchBar{
    direction: rtl !important;
    margin-left: 20px !important;
    /*margin-right: auto !important;*/
}
.searchCenter{
    margin-right: 25%;
    margin-left: auto;
}
.threeSearchDiv{
    padding-left: 10px;
    padding-right: 0px;
}
.sidenav a{
    direction: ltr;
}
.subLisM{
    left: 0px;
    right: auto !important;
}


.navUl{
    width: 100%;
}
.rtlRight{
    margin-right: auto;
}
.logoNavDiv{
    margin-left: auto !important;
    margin-right: 0 !important;
}
.destTitles{
    right: 90%;
    left: auto;
}
.navSubListRow > div{

}
.infoDiv{
    margin-right:0 !important;
    margin-left:10% !important;
}
.selectLang{
    direction: rtl;
}
@media (max-width: 1300px) {
    .searchCenter{
        margin-right: 11% !important;
        margin-left: auto;
    }
}

@media (max-width: 1023px) {
    .searchCenter{
        margin-right: 11% !important;
        margin-left: auto;
    }
    .logoNavDiv{
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .navContainer{
        direction: ltr;
    }
    .navUl{
        width: auto;
        padding-right: 0px !important;
    }
}
