.navSubListBody{
    direction: rtl !important;
    text-align: right !important;
}
.navSubListHeader{
    direction: rtl !important;
    text-align: right !important;
}
.navSearchBarInputDivPc{
    left: auto !important;
    right: -20px;
}
