
.row{
    width: 100%;
}
hr{
    width: 100%;
}
.form-group{
    width: 100%;
}
.inputLabel{
    font-size: 23px;
    font-weight: 500;
}
.whiteBase{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 0;
    padding: 15px;
}
.marg30{
    margin-top: 30px;
}
.closeTagIcon{
    position: absolute;
    color: white;
    top: 8px;
    right: 10px;
    height: 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: red;
    width: 20px;
    border-radius: 50%;
}
.addTagIcon{
    color: green;
    font-size: 35px;
}
.tagSearchResult{
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background: white;
    width: 93%;
    border: solid lightgray 1px;
    border-radius: 4px;
    padding: 10px;
    top: 35px;
}
.tagResult{
    padding: 5px;
    font-size: 14px;
    transition: 0.1s;
    color: gray;
    cursor: pointer;
}
.tagResult:hover{
    background-color: #30759d;
    color: white;
    border-radius: 8px;
}
.mainPicSection{
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: dashed 1px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    color: green;
}
.uploadedPic{
    margin: 10px 0px;
    position: relative;
    padding: 0px;
    overflow: hidden;
    height: 180px;
    border-radius: 15px;
    display: flex;
}
.uploadedPicHover{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000d1;
    border-radius: 15px;
    transition: 0.3s;
    overflow: hidden;
}
.uploadedPic:hover .uploadedPicHover{
    height: 100%;
}
.uploadedPicImg{
    width: 100%;
    border-radius: 15px;
    padding: 0px 10px;
}
@media (max-width: 768px){
    .addTagIcon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*on off button   */
/* Switch starts here */
.rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
}

.rocker-small {
    font-size: 0.75em; /* Sizes the switch */
    margin: 1em;
}

.rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
}

.rocker input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-left,
.switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
}

.switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
}

.switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
}

.switch-left::before,
.switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
}

.switch-left::before {
    left: -0.4em;
}

.switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}

input:checked + .switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
    color: #333;
}

input:checked:focus + .switch-left {
    color: #fff;
}

input:focus + .switch-left + .switch-right {
    color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
    color: #333;
}

.thumbnailPicDiv{
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 3px;
    border-radius: 10px;
    position: relative;
}
.thumbnailPicDiv:hover .uploadedPicHover{
    height: 100%;
}
.thumbnailPic{
    width: 100%;
}
.thumbnailUploadButton{
    font-size: 30px;
    border-radius: 20px;
    background: #d81aef;
    border-color: #d81aef;
    color: white;
    margin-top: 40px;
}
.sideInfoInput{
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}
.closeSideInfoIcon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    background: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: white;
}
.sideInfoRow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: solid gray 1px;
    border-radius: 10px;
    padding: 10px;
}
.iconSideInfoDiv{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: green;
    cursor: pointer;
}
.addNewSideInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    color: green;
}
